#friends-display-link {
  position: relative;
  top: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.8);
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 5px;
}

#friends-display-link img {
  width: 25px;
  height: 25px;
}

#friends-display-link i {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
}

@keyframes advertisement {
  0% {
    transform: none;
  }
  50% {
    transform: scaleY(-1);
  }
  75%,
  100% {
    transform: none;
  }
}

#friends-display-link:hover {
  animation: advertisement 2s infinite ease-in-out;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 35px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
}
